@charset "UTF-8";
:root {
  --ff:sans-serif;
  --transition: .2s all ease-in-out;
  --c-primary: #ED9902;
  --c-white: #fff;
  --c-dark1: #21201E;
  --c-dark2: #2D2B29;
  --c-body: #dcffdd;
  --font-h2-reg: 500 20px/45px var(--ff);
}

body {
  background-color: rgb(25, 25, 25);
  color: white;
}

input {
  color: white;
}

html._overflow {
  overflow: hidden;
}
html._overflow body {
  overflow: hidden;
}

.wrapper {
  position: relative;
}

.my_container {
  max-width: 1936px;
  padding: 0 8px;
  width: 100%;
  margin-inline: auto;
}

.aside__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 13px 18px;
  transition: var(--transition);
}
.btn_primary {
  background: var(--c-primary);
}
.btn_primary:hover {
  background: #d48902;
}

.visibility {
  transform: translate(0%, 0%) !important;
  transition: 0.3s;
}

.show {
  display: flex !important;
}

.hide {
  display: none !important;
}

.profille-arrow {
  display: none;
}

.material-icons {
  font-size: 19px;
}

.search {
  display: none; /* Початковий стан прихований */
}

.search.show {
  display: flex; /* Показує елемент */
}

.search.hide {
  display: none; /* Приховує елемент */
}

.search {
  display: none; /* Початковий стан прихований */
}

.search.show {
  display: flex; /* Показує елемент */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
  word-break: break-word;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

body {
  margin: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
}

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d1d1d1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.header-arrow {
  display: none;
  rotate: 180deg;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__menu-text {
  font-size: 14px;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  position: relative;
}
.header__buttons-text {
  opacity: 0.3;
}

.tasks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(170px, max-content);
  --content-width: minmax(auto, 708px);
  --margin-width: minmax(96px, 1fr);
  display: grid;
  grid-template-columns: [full-start] var(--margin-left-width, var(--margin-width)) [content-start] var(--content-width) [content-end] var(--margin-right-width, var(--margin-width)) [full-end];
  width: 100%;
}
.tasks__container {
  grid-row-start: 2;
  grid-column-start: 2;
}
.tasks__title {
  position: relative !important;
  grid-column-start: 2;
  align-self: flex-end;
  margin-bottom: 20px;
  font-family: monospace;
}
.tasks__text {
  align-self: flex-end;
  font-family: monospace;
  border: none;
  background: none;
  font-size: 2.7em;
  font-weight: 700;
}

.list-group {
  margin-left: 16px;
}

.list-group-item {
  position: relative;
  padding: 3px 2px 3px 16px;
  font-size: 15px;
  letter-spacing: 0.055em;
  line-height: 130%;
  background: none;
  border: none;
  color: white;
}
.list-group-item::before {
  content: "";
  position: absolute;
  border: 2px solid rgb(155, 155, 155);
  display: block;
  left: -8px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.list-group-item.checked::before {
  content: "";
  position: absolute;
  color: white;
  background-color: white;
}

.checked {
  text-decoration: line-through;
  color: rgb(155, 155, 155);
}

.aside {
  position: absolute;
  transform: translate(-120%, 0%);
  transition: 0.3s;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  left: 0;
  color: rgb(155, 155, 155);
  font-weight: 500;
}
.aside__container {
  padding: 12px 18px 12px 8px;
  border-radius: 0 12px 12px 0;
  max-width: 100%;
  background: rgb(32, 32, 32);
  box-shadow: rgba(255, 255, 255, 0.05) -1px 0px 0px 0px inset;
  width: 240px;
  font-size: 14px;
}
.aside__profile {
  align-items: center;
  gap: 8px;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
}
.aside__profile-name {
  display: flex;
  align-items: center;
}
.aside__tools {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}
.aside__tasks {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}
.aside__secondaty-tools {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}
.aside__seck-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.name-arrow-down {
  align-self: end;
}

.create-new-page {
  right: 8px;
  position: absolute;
}

.item__ul {
  margin-top: 8px;
  margin-left: 43px;
}
.item__li {
  position: relative;
}
.item__li::before {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgb(155, 155, 155);
  top: 43%;
  left: -12%;
}

.edit {
  transform: rotate(269deg);
}

.drop-menu-share {
  position: absolute;
  bottom: -50px;
  left: 40px;
  background: rgba(255, 255, 255, 0.055);
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 13px;
  z-index: -111;
  opacity: 0;
}
.drop-menu-share .keyboards {
  opacity: 0.5;
}

.drop-menu {
  position: absolute;
  bottom: -50px;
  left: 0;
  background: rgba(255, 255, 255, 0.055);
  padding: 5px 8px;
  border-radius: 4px;
  z-index: -111;
  opacity: 0;
}
.drop-menu p {
  opacity: 0.4;
  font-size: 13px;
}

.header__drop-menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.055);
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 13px;
  display: none;
}

.drop-menu-chat {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.055);
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  padding: 3px 6px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.tasks__title-emodges {
  position: absolute;
  font-family: monospace, sans-serif;
  font-size: 15px;
  opacity: 0;
  top: -30px;
  left: 3px;
  display: flex;
  gap: 15px;
  transition: 0.3s;
}

.add-emodge {
  display: flex;
  align-items: center;
  gap: 7px;
}

.search {
  position: absolute;
  inset: 0px;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  align-items: flex-start;
  justify-content: center;
  pointer-events: auto;
  display: none;
}
.search-form {
  display: flex;
  align-items: center;
  border: none;
  padding: 0px 16px 0px 12px;
  width: 100%;
  background: transparent;
  font-size: 18px;
  line-height: inherit;
  height: 48px;
  box-shadow: rgba(255, 255, 255, 0.094) 0px 1px 0px;
}
.search__input {
  font-size: inherit;
  line-height: inherit;
  border: none;
  background: none;
  width: 100%;
  display: block;
  resize: none;
  padding: 0px;
  min-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search__icon {
  margin-right: 10px;
}
.search__filter {
  margin-left: 12px;
}
.search-bg {
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0px;
  background: rgba(15, 15, 15, 0.8);
}
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 5px 10px, rgba(15, 15, 15, 0.4) 0px 15px 40px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 0px;
  top: 90px;
  background: rgb(32, 32, 32);
  width: 100%;
  min-height: max(50vh, 570px);
  max-height: max(50vh, 570px);
  transform: translate3d(0px, 0px, 0px);
  max-width: 755px;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  background: rgb(32, 32, 32);
}
.search__tool {
  padding-top: 8px;
  padding-right: 5px;
}
.search__tool-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 4px;
}
.search__tool-title {
  display: flex;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 6px;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.443);
  fill: rgba(255, 255, 255, 0.443);
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.search__tool-text {
  line-height: 20px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  font-weight: 500;
}
.search__tool-block {
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  padding-left: 2px;
  display: flex;
  gap: 6px;
  align-items: center;
  line-height: 120%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  min-height: 36px;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.search__tool-block-element {
  opacity: 0;
  position: absolute;
  right: 15px;
}

.search__footer {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-left: 12px;
  box-shadow: rgba(255, 255, 255, 0.094) 0px -1px 0px;
  line-height: 120%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  min-height: 28px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.282);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search__footer-text {
  display: flex;
  align-items: center;
  gap: 5px;
}/*# sourceMappingURL=style.css.map */