.aside {
    position: absolute;

    transform: translate(-120%, 0%);
	transition: 0.3s;

    width: 200px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    // top: -5%;
    left: 0;

    color: rgb(155, 155, 155);
    font-weight: 500;

   

    &__container {
        padding: 12px 18px 12px 8px;
        border-radius: 0 12px 12px 0;
        max-width: 100%;

        background: rgb(32, 32, 32);
        box-shadow: rgba(255, 255, 255, 0.05) -1px 0px 0px 0px inset;
        width: 240px;

        font-size: 14px;
    }

    &__profile {
        // display: flex;
        align-items: center;
        gap: 8px;

        display: grid;
        grid-template-columns: 1fr 3.5fr 1fr;
    }

    &__profile-img {
    }

    &__profile-name {
        display: flex;
        align-items: center;
    }

    &__tools {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-top: 12px;
    }

    

    &__tasks{
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-top: 12px;
    }

    &__secondaty-tools {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-top: 12px;
    }

    &__seck-item {
        display: flex;
        align-items: center;
        gap: 4px;
        
    }
}

.icons {

    &__title {
    }
}
.menu-icon {

    &__text {
    }
}

.name-arrow-down {
    align-self: end;
}
.create-new-page {
    right: 8px;
    position: absolute;
}


.item {

    &__ul {
        margin-top: 8px;
        margin-left: 43px;
    }

    &__li {
        position: relative;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;

            background: rgb(155, 155, 155);
            top: 43%;
            left: -12%;
        }
    }
}



.edit{
    transform: rotate(269deg);
}





