.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 0;

    &__menu {
        display: flex;
        align-items: center;
        gap: 8px;

        
    }

    &__menu-icon {
    }

    &__menu-text {
        font-size: 14px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 8px;

        font-size: 14px;

        position: relative;
    }

    &__buttons-text {
        opacity: 0.3;
    }

    &__buttons-share {
    }
}

.drop-menu{
    position: absolute;
    bottom: -50px;
    left: 0;
    background: rgba(255, 255, 255, 0.055);
    padding: 5px 8px;
    border-radius: 4px;

    z-index: -111;
    opacity: 0;

    p {
        opacity: 0.4;
        font-size: 13px;
}

}

.drop-menu-share {
    position: absolute;
    bottom: -50px;
    left: 40px;
    background: rgba(255, 255, 255, 0.055);
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 13px;

    z-index: -111;
    opacity: 0;
    .share {
    }
    .keyboards {
        opacity: 0.5;
    }
}



