.search {
  position: absolute;
  inset: 0px;
  z-index: 999;
  
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  align-items: flex-start;
  justify-content: center;
  pointer-events: auto;
  
  display: none ;
  &-form{
    display: flex;
    align-items: center;
    border: none;
    padding: 0px 16px 0px 12px;
    width: 100%;
    background: transparent;
    font-size: 18px;
    line-height: inherit;
    height: 48px;
    box-shadow: rgba(255, 255, 255, 0.094) 0px 1px 0px;
  }

  &__input{
    font-size: inherit;
    line-height: inherit;
    border: none;
    background: none;
    width: 100%;
    display: block;
    resize: none;
    padding: 0px;
    min-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon{
    margin-right: 10px;
  }

  &__filter{
    margin-left: 12px;
  }

  

  &-bg {
    display: flex;
    justify-content: center;
    position: absolute;
    inset: 0px;
    background: rgba(15, 15, 15, 0.8);
  }

  &-container {
    position: relative;
    z-index: 1;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.2) 0px 5px 10px, rgba(15, 15, 15, 0.4) 0px 15px 40px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 0px;
    top: 90px;
    background: rgb(32, 32, 32);
    width: 100%;
    min-height: max(50vh, 570px);
    max-height: max(50vh, 570px);
    transform: translate3d(0px, 0px, 0px);
    max-width: 755px;
    backdrop-filter: none;
    background: rgb(32, 32, 32);
  }

  &__tool {
    // margin-bottom: 18px;
    padding-top: 8px;

    &-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      margin-right: 4px;
    }
  }

  &__tool-title {
    display: flex;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 6px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.443);
    fill: rgba(255, 255, 255, 0.443);
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    user-select: none;
  }

  &__tool-text{
    line-height: 20px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-weight: 500;
  }

  &__tool-block {
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    padding-left: 2px;

    display: flex;
    gap: 6px;
    align-items: center;
    line-height: 120%;
    width: 100%;
    user-select: none;
    min-height: 36px;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;

    
  }
}

