.search {

  
  position: absolute;
  inset: 0px;
  // background: rgba(15, 15, 15, 0.8);
  //   background: rgb(32, 32, 32);
  z-index: 999;
  
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  // display: flex;
  align-items: flex-start;
  justify-content: center;
  pointer-events: auto;
  
  display: none ;
  &-form{
    display: flex;
    align-items: center;
    border: none;
    padding: 0px 16px 0px 12px;
    width: 100%;
    background: transparent;
    font-size: 18px;
    line-height: inherit;
    height: 48px;
    box-shadow: rgba(255, 255, 255, 0.094) 0px 1px 0px;
  }

  &__input{
    font-size: inherit;
    line-height: inherit;
    border: none;
    background: none;
    width: 100%;
    display: block;
    resize: none;
    padding: 0px;
    min-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon{
    margin-right: 10px;
  }

  &__filter{
    margin-left: 12px;
  }

  

  &-bg {
    display: flex;
    justify-content: center;
    position: absolute;
    inset: 0px;
    background: rgba(15, 15, 15, 0.8);
  }

  &-container {
    position: relative;
    z-index: 1;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.2) 0px 5px 10px, rgba(15, 15, 15, 0.4) 0px 15px 40px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 0px;
    top: 90px;
    background: rgb(32, 32, 32);
    width: 100%;
    min-height: max(50vh, 570px);
    max-height: max(50vh, 570px);
    transform: translate3d(0px, 0px, 0px);
    max-width: 755px;
    backdrop-filter: none;
    background: rgb(32, 32, 32);
  }
}
