.tasks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(170px, max-content);

    &__container {

        grid-row-start: 2;
    grid-column-start: 2;
    }

    &__title{
        grid-column-start: 2;
        align-self: flex-end;
        margin-bottom: 20px;

        border: none;
        background: none;
        font-size: 2.7em;
        font-weight: 700;
    }
}

.list-group-item {
    position: relative;
    font-size: 15px;
    letter-spacing: 0.055em;
    line-height: 1.6;

    background: none;
    border: none;

    color: rgb(155, 155, 155);

    &::before{
        content: "";
        position: absolute;
        border: 2px solid red;
        display: block;
        border-radius: 4px;
    }

}
